@import url('../fonts/Scotch Deck/Skotch-Deck.css');
@import url('../fonts/Mollieglaston/Mollieglaston.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.list {
    list-style-type: none;
}

.header {
    position: relative;
    border-bottom: 1px #FFF solid;
}

.background-image {
    position: absolute;
    top: 0;
    z-index: -1;
    width: 100%;
}

.header {
    padding-top: 34px;
}

.container {
    margin: 0 120px;
}

.header__container {
    margin-top: 0;
    margin-bottom: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: #FFF;
    font-family: 'Mollie glaston';
    font-size: 35.725px;
    font-style: normal;
    font-weight: bold;
    line-height: 135.5%;
    letter-spacing: 4.287px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
}

.header__logo__icon {
    width: 56px;
    height: 56px;
    margin-right: 10px;
}



.header__list {
    display: flex;
    gap: 47px;
}

.header__link {
    text-decoration: none;
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 135.5%;
    letter-spacing: -0.32px;
    text-transform: capitalize;
}

.header__button {
    display: inline-block;
    border-radius: 6px;
    padding: 16px;
    background: #FFF;
    margin-left: 16px;
}

.header__button > img {
    height: 20px;
    width: 24px;
}

.testy-chips__container {
    position: relative;
}

.testy-chips__title {
    color: #FFF;
    text-align: center;
    font-family: 'Scotch Deck';
    font-size: 110px;
    font-weight: 700;
    line-height: 135.5%;
    letter-spacing: 4.4px;
    text-transform: capitalize;
    margin-top: 28px;
}

.testy-chips__reviews {
    margin-top: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 230px;
}

.testy-chips__reviews > img:not(:first-child) {
    margin-left: -11px;
    width: 44px;
    height: 44px;
}

.testy-chips__reviews__text {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 135.5%;
    letter-spacing: -0.4px;
    text-transform: capitalize;
    margin-left: 8px;
}

.testy-chips__curve-line {
    position: absolute;
    top: 208px;
    right: 183px;
    width: 119.432px;
    height: 107.292px;  
}

.testy-chips__chips-image {
    position: absolute;
    top: 287px;
    left: 360px;
    z-index: -2;
}

.testy-chips__quality-list {
    display: flex;
    gap: 36px;
    transform: rotate(-90deg);
    position: absolute;
    height: 231px;
    top: 140px;
    right: -105px;
    height: auto;
    list-style-type: none;
}

.testy-chips__quality-link {
    color: #FFF;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 135.5%;
    letter-spacing: -0.4px;
    text-transform: capitalize;
    text-decoration: none;
}

.testy-chips__btn-item {
    margin-top: 68px;
    padding: 14px 28px;
    border-radius: 10px;
    border: 2px solid #FFF;
    color: #FFF;
    background-color: #B1464A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 135.5%;
    letter-spacing: -0.4px;
    text-transform: capitalize;
}

.testy-chips__btn-item {
    cursor: pointer;
}

.testy-chips__btn-item__arrow {
    margin-left: 16px;
}

.testy-chips__explore-wrapper {
    display: flex;
    justify-content: space-between;
}

.testy-chips__rectangles {
    margin-top: 68px;
    display: flex;
    gap: 7px;
}

.testy-chips__rectangle {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 2px;
    background: #FFF;
}

.big-rectangle {
    width: 47.857px;
}

.testy-chips__btn-explore {
    display: flex;
    align-items: center;
    color: #FFF;
    background-color: #B1464A;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    letter-spacing: -0.4px;
    text-transform: capitalize;
    cursor: pointer;
}

.testy-chips__btn-explore > img {
    margin-right: 16px;
}

.testy-chips__slider-changer__dot {
    width: 18px;
    height: 18px;
    border-radius: 4px;
    background: #B1464A;
}

.arrow-active {
    cursor: pointer;
}

.testy-chips__slider-changer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 496px;
}

.review__container {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.review__bg-color-stats {
    position: absolute;
    left: 0;
    z-index: -1;
    background: #FFF0DE;
    width: 694px;
    height: 242px;
}

.review__stats {
    display: flex;
    padding-top: 50px;
}

.review__info {
    margin-right: 76px;
    max-width: 116px;
}

.review__info__number {
    color: #1E2438;
    font-family: 'Scotch Deck';
    font-size: 62px;
    font-weight: 500;
    text-transform: capitalize;
}

.review__info__text {
    color: #1E2438;
    font-family: Poppins;
    font-size: 21px;
    font-weight: 500;
    text-transform: capitalize;
}

.review__descr {
    position: relative;
    padding: 14px 0;
    width: 536px;
    margin-left: 90px;
}

.descr-title {
    color: #1E2438;
    font-family: 'Scotch Deck';
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.hr-line {
    margin: 20px 0;
    background: #D9D9D9;
    height: 2px;
}

.descr-text {
    color: #1E2438;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 170%;
    text-transform: capitalize;
}

.review__descr__line {
    width: 536px;
}

.review__stars {
    position: absolute;
    top: 52px;
    width: 55px;
    height: 74px;
}

.overview__container {
    margin-top: 125px;
    position: relative;
}

.overview__title {
    width: 578px;
    color: #1E2438;
    font-family: 'Scotch Deck';
    font-size: 100px;
    font-weight: 500;
    text-transform: capitalize; 
}

.overview__chips-orange {
    position: absolute;
    top: -25px;
    right: 0;
    width: 493px;
    height: 489px;
}

.overview__health {
    display: flex;
    height: 317px;
    margin-top: 65px;
}

.overview__chips-green {
    margin-right: 99px;
    width: 295px;
    height: 318px;
}

.btn-white {
    padding: 14px 28px;
    border-radius: 10px;
    border: 2px solid #B1464A;
    color: #B1464A;
    background-color: #fff;
    font-family: Poppins;
    font-size: 20px;
    font-weight: 600;
    line-height: 135.5%;
    letter-spacing: -0.4px;
    text-transform: capitalize;
    cursor: pointer;
}

.overview__btn-start__arrow {
    margin-left: 16px;
}

.overview__descr {
    position: relative;
    margin-top: 75px;
}

.potato {
    margin-top: 110px;
    background: #FFF0DE;
    padding: 90px 0;
}

.potato__container {
    display: flex;
}

.potato__content {
    display: flex;
    flex-direction: column;
    width: 694px;
}

.potato__descr {
    max-width: 545px;
}

.potato__potatoes-img {
    margin-right: 39px;
}

.potato__descr__title {
    color: #1E2438;
    font-family: 'Scotch Deck';
    font-size: 80px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.potato__background-rect {
    margin-top: auto;
    width: 100%;
    height: 187px;
    background: radial-gradient(86.9% 86.9% at 50% 50%, #F4777C 0%, #7D0F13 100%);
}

.potato__background-rect__img {
    display: block;
    margin: 0 auto;
}

.awesome-chips {
    margin-top: 174px;
}

.awesome-chips__container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.awesome-chips__title {
    color: #1E2438;
    font-family: 'Scotch Deck';
    font-size: 74px;
    font-weight: 500;
    width: 441px;
    text-transform: capitalize;
}

.awesome-chips__img {
    position: absolute;
    top: -124px;
    left: 357px;
    z-index: -1;
}

.awesome-chips__overview {
    padding: 16px;
    width: 352px;
}

.awesome-chips__overview__title {
    color: #1E2438;
    font-family: 'Scotch Deck';
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: capitalize;
}

.awesome-chips__overview__text {
    margin-top: 12px;
}

.awesome__overview__btn-start {
    margin-top: 30px;
}

.newsletter {
    margin-top: 172px;
}

.newsletter__container {
    background: #B1464A;
    padding: 100px 170px;
    margin: 0 120px;
}

.newsletter__title {
    color: #FFF;
    text-align: center;
    font-family: 'Scotch Deck';
    font-size: 48px;
    font-weight: 700;
    line-height: 115.5%;
    letter-spacing: -0.96px;
    text-transform: capitalize;
}

.newsletter__text {
    color: #FFF;
    text-align: center;
    width: 612px;
    margin: 0 auto;
    margin-top: 16px;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 165.5%;
    letter-spacing: -0.36px;
    opacity: 0.7;
}

.newsletter__input-bar {
    display: flex;
    align-items: center;
    width: 526px;
    height: 70px;
    border-radius: 6px;
    background: #FFF;
    margin: 32px auto 0 auto;
    padding: 0 12px 0 32px;
}

#newsletter__input-bar__field {
    flex-grow: 1;
    border: none;
    color: rgba(30, 36, 56, 0.51);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 213%;
    text-transform: capitalize;
}

#newsletter__input-bar__field:focus {
    outline: none;
}

.newsletter__input-bar__btn-subscribe {
    padding: 11px 40px;
    border-radius: 6px;
    background: linear-gradient(180deg, #E47479 17.59%, #B1464A 95.19%);
    box-shadow: 0px 5px 22px 0px rgba(253, 94, 95, 0.60);
    color: var(--White, #FFF);
    text-align: center;
    font-family: Poppins;
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    border: 0;
    cursor: pointer;
}

.footer {
    margin-top: 90px;
    background: #1E2438;
    padding: 100px 0 40px 0;
}

.footer__main {
    display: flex;
    max-height: 207px;
}

.footer__text {
    color: #FFF;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 29.709px;
    text-transform: capitalize;
    margin-top: 8px;
}

.footer__left-section {
    width: 344px;
}

.footer__social-medias {
    margin-top: 31px;
    cursor: pointer;
}

.footer__hr-line {
    margin: 40px 0;
    height: 1px;
    background: rgba(255, 255, 255, 0.20);
}

.footer__copyright {
    color: #FFF;
    text-align: center;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 29.709px;
    text-transform: capitalize;
}

.footer__nav-company {
    margin-left: 170px;
}

.footer__nav-help {
    margin-left: 149px;
}

.footer__nav-resources {
    margin-left: auto;
}

.nav__title {
    color: #FFF;
    font-family: Hind;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 29.709px;
    text-transform: capitalize;
}

.nav__list {
    margin-top: 18px;
    height: 159px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav__link {
    color: #FFF;
    font-family: Hind;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 22.7px;
    text-transform: capitalize;
    text-decoration: none;
}